.react-calendar {
  border-radius: 10px;
  border: 1px solid var(--festie-gray-400, #c8c8c8);
}

.react-calendar__navigation__label > span {
  color: var(--festie-gray-800, #c3eb5f);
  font-family: SUIT Variable;
  font-size: 13px;
  font-weight: 500;
  line-height: 140%;
}
.react-calendar__month-view__days__day--weekend {
  color: var(--festie-gray-800, #3a3a3a);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: var(--festie-primary-orange, #ff7a00);
}
.react-calendar__tile--now {
  background: white;
  color: var(--festie-gray-800, #3a3a3a);
}
.react-calendar__tile--active {
  background: var(--festie-primary-orange, #ff7a00);
  color: white;
}

.react-calendar__navigation button:nth-child(1),
.react-calendar__navigation button:nth-child(5) {
  display: none; /* CSS를 통해 이 버튼들을 숨깁니다 */
}

.react-calendar__navigation button:nth-child(4) {
  height: 2rem;
  margin: 1rem;
  margin-right: 3rem;
  background-image: url("/src/assets/MonthVectorRight.svg");
  background-size: contain; /* 이미지를 버튼의 크기에 맞추어 조절 */
  background-position: center; /* 이미지를 버튼 중앙에 위치 */
  background-repeat: no-repeat;
  color: transparent; /* 버튼의 텍스트를 투명하게 설정 */
  text-indent: 100%; /* 텍스트를 화면 밖으로 밀어냅니다 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 합니다 */
  overflow: hidden; /* 밀려난 텍스트를 숨깁니다 */
}
.react-calendar__navigation button:nth-child(2) {
  height: 2rem;
  margin: 1rem;
  margin-left: 3rem;
  background-image: url("/src/assets/MonthVectorLeft.svg");
  background-size: contain; /* 이미지를 버튼의 크기에 맞추어 조절 */
  background-position: center; /* 이미지를 버튼 중앙에 위치 */
  background-repeat: no-repeat;
  color: transparent; /* 버튼의 텍스트를 투명하게 설정 */
  text-indent: 100%; /* 텍스트를 화면 밖으로 밀어냅니다 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 합니다 */
  overflow: hidden; /* 밀려난 텍스트를 숨깁니다 */
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #0ca1a3;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

/* 
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    Segoe UI,
    Tahoma,
    sans-serif;
}

.Sample input,
.Sample button {
  font: inherit;
}

.Sample header h1 {
  font-size: inherit;
  margin: 0;
}

.Sample__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.Sample__container > * > * {
  margin: 10px;
}

.Sample__container__content {
  display: flex;
  max-width: 100%;
  flex-basis: 420px;
  flex-direction: column;
  flex-grow: 100;
  align-items: stretch;
  padding-top: 1em;
}

.Sample__container__content .react-calendar {
  margin: 0 auto;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}


.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #a1c32f;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */
