.week-grid {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr); /* time labels + 7 days */
  grid-template-rows: repeat(48, 1fr); /* 30min intervals => 48 */
  text-align: center;
  position: relative;
  overflow-y: auto;
  max-height: 650px;
}

.time-labels {
  border-right: 2px solid #ccc;
  position: sticky;
  left: 0;
  background: white;
  top: 0;
  z-index: 2;
}

.time-labels .time-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px dashed #ccc;
  color: #888;
  box-sizing: border-box;
}

.day-column {
  border-right: 1px solid #ccc;
  position: relative;
}

.day-column::after {
  content: "";
  position: absolute;
  left: 33%;
  right: 33%;
  top: 0;
  bottom: 0;
  border-left: 1px dashed #eee;
  border-right: 1px dashed #eee;
}

.day-column .time-cell {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40px;
  padding: 0;
  border-bottom: 1px dashed #ccc;
}

.time-cell-part {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hidden-grid-lines .time-cell {
  border-bottom: none;
}
.hidden-grid-lines .day-column::after {
  display: none;
}
